/*csslint ids: false, box-model: false, universal-selector: false, box-sizing: false*/


/*UNIVERSAL SELECTOR*/

* {
  box-sizing: border-box;
  text-align: center;
}


/********************************
GENERAL
********************************/

body {
  color: #878787;
  line-height: 1.5;
  margin: 0;
}

.main-header {
  background: linear-gradient(firebrick, transparent 90%), linear-gradient(0deg, #fff, transparent), firebrick url(../img/Logo.png);
  background-color: firebrick;
  /*background-image: url(../img/mountains.jpg);
  background-image: radial-gradient(circle at top, #ffa949, firebrick);
  background-image: linear-gradient(#ffa949, firebrick);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
  padding-top: 170px;
  text-align: center;
}

.title {
  border-bottom: 2px solid;
  color: white;
  /*To change from px to em. Do this simple equation
  Whatever the desired pixel is / 16.
  26px / 16 =
  */
  font-size: 1.625em;
  font-weight: 200;
  letter-spacing: 0.065em;
  padding-bottom: 10px;
  text-align: center;
}

.content {
  border-bottom: 2px solid;
  margin: auto;
  max-width: 900px;
  /*padding-bottom: 70px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 80px;*/
  width: 75%;
}

.t-border {
  border-top: 2px solid lightgray;
}


/*ul li {
  margin-bottom: 5px;
}*/

ul,
ol {
  margin-left: 30px;
}

li {
  margin-bottom: 10px;
}

img {
  border-radius: 10px;
  margin-bottom: 20px;
}

.callout {
  border-bottom: 3px solid;
  display: inline-block;
  font-size: 1.25em;
  margin-top: 20px;
  padding: 0 9px 3px;
}

#main-footer {
  border: solid 10px red;
  padding-bottom: 60px;
  padding-top: 60px;
}

#main-footer {
  color: black;
  font-weight: bolder;
}

li {
  list-style: none;
  padding-right: 75px;
}

ol li {
  list-style: decimal;
}

.logo {
  width: 100%;
}

.quote {
  color: white;
  font-size: 30px;
}
/********************************
HEADLINE & P ELEMENTS
********************************/

h1 {
  color: white;
  /* 90px / 16px = */
  font-size: 5.625em;
  font-weight: normal;
  line-height: 1.3;
  margin: 12px 0 0;
  /*Text Shadows: 1st value is horizontal offset, 2nd value is vertical offset, 3rd value is blur, 4th value is color of shadow.*/
  text-shadow: -5px 10px 1px rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}

h2 {
  color: red;
  font-size: 40px;
  font-weight: normal;
  /* 26px / 53px */
  margin-bottom: 0.5em;
  text-decoration: underline;
}

h2:hover {
  color: black;
  transition: all 0.5s ease-in;
}

h3 {
  color: red;
  font-size: 25px;
  /* 16px / 53px */
  margin-bottom: 0.3em;
}

h3:hover {
  color: black;
  transition: all 0.5s ease-in;
}

/********************************
FLOATED COLUMNS
********************************/

.left-pic {
  color: firebrick;
  float: left;
  width: 46.5%;
}

.right-pic {
  color: black;
  float: right;
  width: 46.5%; 
}

/********************************
COLORS
********************************/


/*CSS PSEUDO CLASS*/

a:link {
  color: red;
  text-decoration: none;
}

a:hover {
  color: black;
  transition: all 0.7s ease-in;
}

a:active {
  color: darkred;
}

a:focus {
  color: gray;
}


/********************************
MEDIA QUERIES
********************************/

@media (max-width: 1024px) {
  .content {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .content {
    border-top: none;
    padding: 20px;
    width: 100%;
  }
  .main-header {
    max-height: 380px;
    padding: 50px 25px 0;
  }
  .title {
    border: none;
    font-size: 1.3rem;
  }
  /*
  h1 {
    font-size: 5rem;
    line-height: 1.1;
  }
*/
  arrow {
    display: none;
  }
  .intro {
    font-size: 1rem;
  }
  .events,
  .contact {
    float: none;
    width: 100%;
  }
  #main-footer {
    padding: 20px 0;
  }
}

@media (max-width: 375px) {
  /*
  h1 {
    font-size: 3rem;
  }
*/
}


/* Navigation Menu - Background */

.navigation {
  background-color: darkslategray;
  bottom: 0;
  height: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}


/* Navigation Menu - List items */

.nav-item {
  border-bottom: 1px solid #000;
  border-top: 1px solid #111;
  width: 200px;
}

.nav-item a {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  color: white;
  display: block;
  font-size: 1.2em;
  padding: 1em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(75, 20, 20, 0.65) 100%);
  color: #c74438;
}


/* Site Wrapper - Everything that isn't navigation */

.site-wrap {
  background-color: white;
  background-image: linear-gradient(135deg, rgb(254, 255, 255) 0%, rgb(221, 241, 249) 35%, rgb(160, 216, 239) 100%);
  background-size: 200%;
  bottom: 100%;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  top: 0;
  z-index: 1;
}


/* Nav Trigger */

.nav-trigger {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

label[for="nav-trigger"] {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");;
  background-size: contain;
  cursor: pointer;
  height: 30px;
  left: 15px;
  position: fixed;
  top: 15px;
  width: 30px;
  z-index: 2;
}


/* Make the Magic Happen */

.nav-trigger + label,
.site-wrap {
  transition: left 0.3s;
}

.nav-trigger:checked + label {
  left: 140px;
}

.nav-trigger:checked ~ .site-wrap {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
  left: 125px;
}

body {
  /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}

code {
  background: #ddd;
  padding: 2px;
}


/* Micro reset */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}